{% include ('./partials/header.html') %}

<style>
    .hand-cursor
    {
        cursor: pointer;
    }

    /* No scroll bar for messgaes area */
    #messages::-webkit-scrollbar {
      display: none;
    }
</style>

<script>

    $(document).ready(function(){
        load_user_latest_messages();
    });

    /**
        Brings the latest 10 posts from all users and dumps into message area
    */
    function load_user_latest_messages() {
        let ajaxRequest = new ajaxFunction();

        ajaxRequest.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {

                $("#messages").html("");
                var response = JSON.parse(this.responseText);

                if (response.status == "failed") {
                    console.error("something went wrong while fetching the latest 10 posts")
                    return;
                } else {
                    console.log(response);
                    if (response && response.posts) {
                        for (var i = 0, posts_len = response.posts.length; i < posts_len; i++) {
                            var html_template = create_post_card(response.posts[i]);
                            $("#messages").append(html_template);
                        }

                        if (response.posts.length == 0) {
                            console.log("No posts received from the server");
                        }
                    }
                }
            }
        };

        send_request(ajaxRequest, "GET", "{{config.application.base_url}}posts/user", null, null);
    }
    // end of load_user_latest_messages();

    // Generates a html template for post card and returns it
    function create_post_card(post) {
        var default_img = "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22574%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20574%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17812173647%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A29pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17812173647%22%3E%3Crect%20width%3D%22574%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22212.8125%22%20y%3D%22103.00312500000001%22%3E574x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E";
        var image_url = (post.image == "" || post.image == null) ? default_img : post.image;

        var post_card = "<div class='card mb-3'>" +
            "<img class='card-img-top' src='"+image_url+"' alt='Card image cap' max-height='180' max-width='574'>" +
            "<div class='card-body'>" +
            "   <h5 class='card-title'>" + post.subject + "</h5>" +
            "   <p class='card-text'>" + post.message + "</p>" +
            "   <p class='card-text'><small class='text-muted'>Posted on " + post.timestamp + "</small> <span class='float-right hand-cursor' onclick='populate_for_edit(\""+post.post_id+"\")'><i class='fa fa-pencil' aria-hidden='true'></i> Edit</span></p>" +
            "</div>" +
            "</div>";

        return post_card;
    }
    // end of create_post_card()


    function edit_password(){

        $("#edit_password_btn").html("<i class='fa fa-spinner fa-spin' aria-hidden='true'></i>");

        var formData = new FormData();
        formData.append('old_password', document.getElementById('old_password').value);
        formData.append('new_password', document.getElementById('new_password').value);

        let ajaxRequest = new ajaxFunction();

        ajaxRequest.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                $("#edit_password_btn").html("Change");
                var response = JSON.parse(this.responseText);
                if(response.status == "success"){

                    // Resetting error messages
                    document.getElementById("password_edit_form_err_msg").style.display = "none";
                    document.getElementById("password_edit_form_err_msg").innerHTML = "";

                    // Reseting the input fields
                    $("#old_password").val("");
                    $("#new_password").val("");

                    // Show confirmation message
                    $("#edit_password_modal").modal('show');

                    // Redirecting to the login page
                    setTimeout(function(){
                        window.location = "{{config.application.base_url}}login";
                    },10000);

                }else{
                    document.getElementById("password_edit_form_err_msg").style.display = "block";
                    document.getElementById("password_edit_form_err_msg").innerHTML = response.err_msg;
                    return;
                }

            }
        }

         send_request(ajaxRequest, "POST", "{{config.application.base_url}}user/edit_password", formData, null);
    }
    // End of edit_password();


    function populate_for_edit(doc_id){

        $("#update_post_btn").html("<i class='fa fa-spinner fa-spin' aria-hidden='true'></i> Fetching Post");
        let ajaxRequest = new ajaxFunction();

        ajaxRequest.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var response = JSON.parse(this.responseText);
                if(response.status == "success"){
                    document.getElementById("post_doc_id").value = response.post.post_id;
                    document.getElementById("post_id").value = response.post.post_id;
                    document.getElementById("post_subject").value = response.post.subject;
                    document.getElementById("post_message").value = response.post.message;

                    $("#update_post_btn").html("Update Post");
                }
            }
        }

        send_request(ajaxRequest, "GET", "{{config.application.base_url}}posts/"+doc_id, null, null);
    }
    // end of populate_for_edit();

    function update_post(){

        $("#update_post_btn").html("<i class='fa fa-spinner fa-spin' aria-hidden='true'></i> Saving");
        let ajaxRequest = new ajaxFunction();

        let post_subject = document.getElementById("post_subject").value;
        let post_message = document.getElementById("post_message").value;
        let post_image = document.getElementById("post_image");

        var form_data = new FormData();
        form_data.append("post_doc_id", document.getElementById("post_doc_id").value);
        form_data.append("post_id", document.getElementById("post_id").value);
        form_data.append("post_subject", post_subject);
        form_data.append("post_message", post_message);

        //Grabbing the first file. //If no file has been selected, the file attribute will be undefined.
        form_data.append("file", post_image.files[0]);

        ajaxRequest.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var response = JSON.parse(this.responseText);

                if(response.status == "success"){
                    document.getElementById("message_posting_form").reset();
                    load_user_latest_messages();

                }else{
                    document.getElementById("password_edit_form_err_msg").style.display = "block";
                    document.getElementById("password_edit_form_err_msg").innerHTML = response.err_msg;
                }

                $("#update_post_btn").html("Update");
            }
        }

        send_request(ajaxRequest, "PUT", "{{config.application.base_url}}edit_post", form_data, null);
    }

</script>

<div class="container mt-3">
    <div class="row">
        <!-- Start of password edit area-->
        <div class="col-md-3" id="password_edit_area">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h5 class="card-title">Edit Password</h5>

                    <form onsubmit="event.preventDefault();" id="edit_password_form">

                        <div class="form-group mb-3">
                            <label class="control-label">Old Password:</label>
                            <input type="text" id="old_password" class="input-md form-control" required />
                        </div>

                        <div class="form-group mb-3">
                            <label class="control-label">New Password:</label>
                            <input type="text" id="new_password" class="input-md form-control" required />
                        </div>

                        <div class="form-group mb-3">
                            <span class="text-danger" id="password_edit_form_err_msg" style="display:none"></span>
                        </div>

                        <div class="form-group mb-3">
                            <button class="btn btn-outline-dark btn-md form-control" id="edit_password_btn" onclick="edit_password();">Change</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End of user area -->

        <div class="col-md-9">

            <!-- Message posting area starts here -->
            <div class="row">
                <div class="col-md-5">

                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        <div class="card-body">
                            <h5 class="card-title">Edit Posts</h5>

                            <form onsubmit="event.preventDefault();" id="message_posting_form">

                                <div class="form-group mb-3" hidden>
                                    <label class="control-label">Subject:</label>
                                    <input type="hidden" id="post_doc_id" class="input-md form-control"/>
                                </div>

                                <div class="form-group mb-3" hidden>
                                    <label class="control-label">Subject:</label>
                                    <input type="hidden" id="post_id" class="input-md form-control"/>
                                </div>

                                <div class="form-group mb-3">
                                    <label class="control-label">Subject:</label>
                                    <input type="text" id="post_subject" class="input-md form-control" required />
                                </div>

                                <div class="form-group mb-3">
                                    <label class="control-label">Message:</label>
                                    <textarea id="post_message" class="input-md form-control" required></textarea>
                                </div>

                                <div class="form-group mb-3">
                                    <label class="control-label">Image:</label>
                                    <input type="file" id="post_image" class="input-md form-control"/>
                                </div>

                                <div class="form-group mb-3">
                                    <span class="text-danger" id="message_posting_form_err_msg" hidden></span>
                                </div>

                                <div class="form-group mb-3">
                                    <button class="btn btn-outline-dark btn-md form-control" id="update_post_btn" onclick="update_post();">Update</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-md-7" id="">
                    <h4>My Posts</h4>
                    <hr />
                    <div id="messages" style="overflow:auto;max-height: 75vh;">

                    </div>
                </div>
            </div>
            <!-- Message posting area ends here -->
        </div>
    </div>

    <!-- Password Change Modal -->
    <div class="modal" id="edit_password_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <p class="mt-3 text-center"><i class="text-success fa fa-check-circle fa-4x" aria-hidden="true"></i></p>
            <p class="mt-3">
            Your password has been updated successfully. You will redirected in 10 secs to login page to login using new password.</p>
          <a href="{{config.application.base_url}}login">Click here</a> for forced redirect.
      </div>
    </div>
  </div>
</div>
    <!-- Password Change Modal Ends Here -->

</div>
{% include ('./partials/footer.html') %}